<!DOCTYPE html>
<html lang="en">
<head>
    <%-include('./partials/head.ejs')%>
</head>
<body>
    <%-include('./partials/header.ejs')%>
    <main>
        <div id="update-car" class="pt-3">
            <!-- <section id="update-header">
                <h1>Update car</h1>
            </section> -->
            <button class="garage-btn ml-3">
                <a href="/garage">Back to Garage</a>
            </button>
            <div class="card m-3 flex-lg-row border border-danger rounded-0">
                <img src="<%=car.img%>" class="card-img-top" alt="">
                <div class="card-body">
                  <!-- <h5 class="card-title">Card title</h5> -->
                  <p class="card-text font-weight-bold">Update car information below:</p>
                  <form action="/garage/<%=car.id%>?_method=PUT" method="POST" class="d-flex flex-column">
                    <div class="form-group">
                        <label for="year">Year</label>
                        <input type="text" class="form-control" id="year" aria-describedby="year" name="year" value="<%=car.year%>">
                    </div>
                    <div class="form-group">
                        <label for="make">Make</label>
                        <input type="text" class="form-control" id="make" aria-describedby="make" name="make" value="<%=car.make%>">
                    </div>
                    <div class="form-group">
                        <label for="model">Model</label>
                        <input type="text" class="form-control" id="model" aria-describedby="model" name="model" value="<%=car.model%>">
                    </div>
                    <div class="form-group">
                        <label for="color">Color</label>
                        <input type="text" class="form-control" id="color" aria-describedby="color" name="color" value="<%=car.color%>">
                    </div>
                    <div class="form-group">
                        <label for="mileage">Mileage</label>
                        <input type="text" class="form-control" id="mileage" aria-describedby="mileage" name="mileage" value="<%=car.mileage%>">
                    </div>
                    <div class="form-group">
                        <label for="value">Value</label>
                        <input type="text" class="form-control" id="value" aria-describedby="value" name="value" value="$<%=car.value%>">
                    </div>
                    <div class="form-group">
                        <label for="specs">Specifications</label>
                        <input type="text" class="form-control" id="specs" aria-describedby="specs" name="specs" value="<%=car.specs%>">
                    </div>
                    <button type="submit" class="garage-btn align-self-end">Update</button>
                  </form>
                </div>
              </div>

            <!-- <form action="/garage/<%=car.id%>?_method=PUT" method="POST">
                <label for="img">Paste Image Link:</label>
                <input type="text" name="img" value="<%=car.img%>"> 
                <label for="year">Year:</label>
                <input type="number" name="year" min="1" value="<%=car.year%>">
                <label for="make">Make:</label>
                <input type="text" name="make" value="<%=car.make%>">
                <label for="model">Model:</label>
                <input type="text" name="model" value="<%=car.model%>">
                <label for="color">Color:</label>
                <input type="text" name="color" value="<%=car.color%>">
                <label for="mileage">Mileage:</label>
                <input type="number" name="mileage" min="1" value="<%=car.mileage%>">
                <label for="value">Value:</label>
                <input type="number" name="value" min="1" value="<%=car.value%>">
                <label for="specs">Specs</label>
                <input type="text" name="specs" value="<%=car.specs%>">
                <input type="submit" value="Update car">
            </form> -->
        </div>
    </main>
    <%-include('./partials/bootstrap-js.ejs')%>
</body>
</html>