<!DOCTYPE html>
<html lang="en">
<head>
    <%-include('./partials/head.ejs')%>
</head>
<body>
    <div class="container-fluid">
        <header>
            <nav class="navbar">
                <div>Garage App</div>
                <ul class="nav">
                    <li class="nav-item">
                        <a class="nav-link" href="/garage">Car Collection</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/garage/new">Add Car</a>
                    </li>
                </ul>
            </nav>
        </header>
        <h1>Car Collection</h1>
        <a href="/garage/new">Add car to collection</a>
        <div id="cars-container">
            <% for (let i = 0; i < cars.length; i++) {%>
                <div class="car-item">
                    <img src="<%=cars[i].img%>" alt="">
                    <ul class="car-info">
                        <li>Year: <%=cars[i].year%></li>
                        <li>Make: <%=cars[i].make%></li>
                        <li>Model: <%=cars[i].model%></li>
                        <li>Color: <%=cars[i].color%></li>
                    </ul>
                    <a href="/garage/<%=cars[i].id%>">View Car</a>
                    <a href="/garage/<%=cars[i].id%>/edit">Update Car</a>
                    <form action="/garage/<%=cars[i].id%>?_method=DELETE" method="POST">
                        <input type="submit" value="Delete">
                    </form>
                </div>
            <% } %>
        </div>
    </div>
</body>
</html>