<!DOCTYPE html>
<html lang="en">
<head>
    <%-include('./partials/head.ejs')%>
    <script src="https://code.jquery.com/jquery-3.6.1.min.js" integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/b6a2d8b0e4.js" crossorigin="anonymous"></script>
</head>
<body>
    <div id="garage-door">
        <p>My Garage</p>
        <a href="#" id="open-garage-door">Open Garage</a>
    </div>
    <%-include('./partials/header.ejs')%>
    <main>
        <div id="cars-collection">        
            <section id="collection-header">
                <h1>Welcome to My Garage</h1>
                <a href="/garage/new"><i class="fa-sharp fa-solid fa-plus fa-lg"></i>Add car</a>
            </section>
            <div id="cars-container" class="row">
                <% for (let i = 0; i < cars.length; i++) {%>
                    <div class="col-12 col-md-6 mb-4">
                        <div class="card m-3 border border-danger rounded-0">
                            <a href="/garage/<%=cars[i].id%>"><img src="<%=cars[i].img%>" class="card-img-top" alt=""></a>
                            <div class="card-body d-xl-flex justify-content-xl-between">
                            <!-- <h5 class="card-title">Card title</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
                                <ul class="car-info d-flex flex-xl-wrap font-weight-bold">
                                    <li class="info-item"><%=cars[i].year%></li>
                                    <li class="info-item"><%=cars[i].make%></li>
                                    <li class="info-item"><%=cars[i].model%></li> 
                                </ul>
                                <div class="d-flex justify-content-around align-items-xl-baseline">
                                    <button class="garage-btn">
                                        <a href="/garage/<%=cars[i].id%>">View</a>
                                    </button>
                                    <button class="garage-btn">
                                        <a href="/garage/<%=cars[i].id%>/edit">Edit</a>
                                    </button>
                                    <form action="/garage/<%=cars[i].id%>?_method=DELETE" method="POST">
                                        <input class="garage-btn" type="submit" value="Delete">
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                <% } %>
            </div>
        </div>
    </main>
    <%-include('./partials/bootstrap-js.ejs')%>
    <script src="/app.js" type="text/javascript"></script>
</body>
</html>